html, body{
    margin: 0;
    padding: 0;
}
.container{
    padding: 1em;
}
.tab{
    position: relative;
}
.tab-list{
    display: flex;
    padding: 1em;
}
.tab-list div{
    margin-right: 1em;
    /* padding은 아예 이것까지 width로 침! margin은 텍스트 길이만큼만 currenttarget이라고 침 */
}
.tab-list div:hover{
    cursor: pointer;
}
.list{
    display: flex;
    justify-content: space-between;
    border: 3px solid #e2e2e2;
    padding: 1em;
    margin-bottom: 5px;
}
.underline{
    position: absolute;
    width: 0px;
    height: 4px;
    background-color: pink;
    top:0;
    left:0;
    transition: 0.5s;
}
.task-done{
    text-decoration: line-through;
}