.fade-section {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease-out;
  height: 50px;
  width : 50px;
  min-height: 100vh;
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
}
