*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,body,#root{
  margin: 0px;
  padding: 10px;
  height: 100%;
}
.card-wrapper{
  width: 300px;
  height: 100px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 15px;
}