*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,body,#root{
  margin: 0px;
  padding: 10px;
  height: 100px;
}
.input-area{
  display: flex;
  gap: 10px;
}
.input-wrapper{
  display: flex;
  flex-direction: column;
  gap: 5px;
}