*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,body,#root{
  margin: 0px;
  padding: 0px;
  height: 100%;
}
body {
  overflow-x: hidden;
  /* ✅ 가로 스크롤 완전히 차단 */
}
.app{
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: black;
  /* overflow-x: hidden; */
}