*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,body,#root{
  margin: 0px;
  padding: 10px;
  height: 100%;
}
.card-wrapper{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px 0px;
}