html,body, #root{
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}
.main{
  display: flex;
  gap: 20px;
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 10px solid black;
  width: 250px;
}
.item-img{
  width: 200px;
}
.win{
  border: 10px solid green;
}
.tie{
  border: 10px solid black;
}
.lose{
  border: 10px solid red;
}