*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,body,#root{
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.user-item{
  width: 300px;
  height: 100px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
}
.user-item:hover{
  cursor: pointer;
  transform: scale(1.04);
}
.overlay{
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.modal{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: white;
}
