.card-wrapper{
    border: 1px solid black;
    border-radius: 20px;
    width: 300px;
    height: 100px;
    margin-top: 30px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.button-area{
    display: flex;
    gap: 10px;
}