*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,body, #root{
  margin: 0px;
  padding: 0px;
  height: 100%;
}
body{
  height: 2000px;
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.trigger-box{
  height: 300px;
  border: 1px solid black;
}
.test{
  border:1px solid black;
}