*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,body,#root{
  margin: 0px;
  padding: 10px;
  height: 100%;
}
.search-section{
  display: flex;
  gap: 5px;
}
.box{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 100px;
}