*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,body,#root{
  margin:0px;
  padding:0px;
  height: 100%;
  width: 100%;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
}
.profile-card{
  width: 300px;
  height: 100px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  
  display: flex;
  flex-direction: column;
}
.profile-card button{
  width: 90px;
}
.input-area{
  display: flex;
  justify-content: space-between;
  height: 30px;
}
.answer-area.incorrect{
  color:red;
}